/**************************************************
***********************reset***********************
***************************************************/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	object-fit: cover;
}
.myConteiner20padingMob {
	padding: 0px 20px;
}
@media (max-width: 765px) {
	.myConteiner20padingMob {
		min-width: auto;
	}
}
@media (max-width: 425px) {
	.myConteiner20padingMob {
		padding: 10px;
	}
}
/* /////////////////////////////////////////////// */
/* //////////////////template///////////////////// */
/* /////////////////////////////////////////////// */

/**************************************************
*****************gallery page**********************
***************************************************/
h2 {
	font-size: 40px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 50px;
}
.gallery__cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.gallery__card {
	width: 730px;
	color: #333;
	border-radius: 25px;
	background: #eef4fa;
	display: flex;
	justify-content: space-between;
}
.gallery__card > img {
	/* max-width: 400px; */
	width: 50%;
	border-radius: 25px;
}
.card__content {
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px 0 40px 40px;
}
.card__info {
	margin-bottom: 92px;
}
.card__title {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 15px;
}
.card__date {
	font-size: 16px;
	font-weight: 600;
}
.card__share {
	margin-bottom: 20px;
}
.card__share p {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}
.card__social-networks {
	display: flex;
	gap: 10px;
}
.card__social-networks a {
	text-decoration: none;
}
.card__watch-foto {
	padding: 9px 23px;
	border: 2px solid #298d3f;
	border-radius: 200px;
	display: block;
	font-size: 16px;
	width: fit-content;
	text-decoration: none;
	color: #298d3f;
	transition: all 0.3s ease 0s;
}
.card__watch-foto:hover {
	background: #2aa144;
	color: white;
	border: 2px solid #2aa144;
}
.card__arr-wrap {
	margin-left: 10px;
}
.card__watch-foto:hover .card__arr-wrap img:nth-child(1) {
	opacity: 0;
	position: absolute;
}
.card__arr-wrap {
	display: inline-block;
	width: fit-content;
}
.card__arr-wrap img:nth-child(2) {
	position: absolute;
	opacity: 0;
}
.card__watch-foto:hover .card__arr-wrap img:nth-child(2) {
	opacity: 1;
	position: relative;
}

@media screen and (max-width: 1580px) {
	.gallery__card {
		width: calc(51% - 30px);
		/* height: 350px; */
	}
	.card__content {
		padding: 30px 10px 30px 30px;
	}
}
@media screen and (max-width: 1490px) {
	.gallery__card > img {
		width: 50%;
	}
	.card__title {
		font-size: 25px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.card__content {
		padding-right: 10px;
	}
	.card__date {
		font-size: 14px;
		font-weight: 600;
	}
	.card__share {
		font-size: 14px;
	}
	.card__watch-foto {
		padding: 9px 9px;

		font-size: 14px;
	}
}
@media screen and (max-width: 1167px) {
	.gallery__card {
		/* padding: 20px; */
		/* flex-direction: column; */
		/* height: fit-content; */
		/* width: calc(51.2% - 30px); */
	}
	.card__info {
		margin-bottom: 40px;
	}
	.card__content {
		padding: 30px;
		padding-bottom: 20px;
	}
	.gallery__card > img {
		width: 50%;
		min-height: 320px;
	}
	.card__watch-foto {
		width: 100%;
		text-align: center;
		padding: 9px 9px;
		font-size: 16px;
	}
	.card__arr-wrap {
		display: none;
	}
}
@media screen and (max-width: 947px) {
	.gallery__card {
		padding: 0px;
		flex-direction: row;
		width: 100vw;
	}
	.gallery__card > img {
		max-width: 370px;
		width: 50%;
	}
	.card__content {
		width: fit-content;
		padding: 30px 0 30px 30px;
	}
	.card__arr-wrap {
		display: inline-block;
	}
	.card__watch-foto {
		width: fit-content;
		padding: 9px 23px;
		font-size: 16px;
	}
}
@media (max-width: 600px) {
	.gallery__card {
		justify-content: stretch;
		padding: 20px;
		flex-direction: column-reverse;
	}
	.gallery__card > img {
		max-width: 100%;
		width: 100%;
		max-height: 350px;
		min-height: 300px;
	}
	.card__arr-wrap {
		display: none;
	}
	.card__content {
		padding: 20px 0 0px 0px;
	}
}

/**************************************************
**********greenHouses gallery page*****************
***************************************************/
.fotosGH {
	margin-bottom: 90px;
	width: 100%;
	/* display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(4, minmax(164px, 400px));
	gap: 30px; */
}
.fotosGH__wrapp {
	margin-bottom: 90px;
	width: 100%;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(4, minmax(auto, 400px));
	gap: 30px;
}
.horizontal {
	grid-column-start: span 2;
}
.fotosGH a {
	border-radius: 15px;
}
.fotosGH img {
	border-radius: 15px;
	width: 100%;
}
.videosGH {
	position: relative;
	width: 100%;
	background: #eef4fa;
	border-radius: 20px;
	padding: 169px 174px 90px 173px;
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	margin-bottom: 90px;
}
.videosGH h2 {
	position: absolute;
	top: 55px;
	left: 73px;
}
.videoGH__card {
	background: white;
	border-radius: 30px;
	padding: 40px;
}
.videoGH__card a:hover img:last-child {
	transform: scale(1.3) translateY(-25%);
}
.videoGH__card a {
	display: flex;
	width: 100%;
	position: relative;
	border-radius: 15px;
}
.videoGH__card a img:first-child {
	border-radius: 15px;
	width: 100%;
}
.videoGH__card a img:last-child {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 50%;
	transition: all 0.3s ease 0s;
	transform: translateY(-50%);
}
.videoGH__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 21px;
}
.videoGH__circle {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background: #2aa144;
}
.shareAlbum {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	min-height: 391px;
	background: #488b48;
	border-radius: 20px;
	margin-bottom: 40px;
}
.shareAlbum__bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 55%;
	height: 100%;
	z-index: 1;
	background: rgb(30, 98, 0);
	background: linear-gradient(
		90deg,
		rgba(30, 98, 0, 0) 56%,
		rgba(30, 98, 0, 1) 82%,
		rgba(30, 98, 0, 0) 100%
	);
}
.shareAlbum__content {
	position: relative;
	z-index: 2;
	font-size: 40px;
	color: white;
	max-width: 550px;
	margin-right: 30px;
	padding: 70px 0px 70px 62px;
}

.shareAlbum > img {
	z-index: 0;
	right: 0;
	top: 0;
	position: relative;
	border-radius: 20px;
	width: 55%;
	min-height: 100%;
}
.shareAlbum__social-network {
	margin-top: 125px;
	flex-wrap: wrap;
	display: flex;
	gap: 10px;
}
.shareAlbum__social-network a {
	display: block;
	text-decoration: none;
	width: 60px;
	height: 60px;
}
.shareAlbum__social-network a img {
	width: 100%;
}

@media screen and (max-width: 1000px) {
	h2 {
		font-size: 32px;
	}
	.videosGH {
		padding: 169px 70px 90px 70px;
	}

	.videoGH__title {
		font-size: 20px;
	}
	.shareAlbum__content {
		font-size: 30px;
	}
	.shareAlbum__social-network {
		max-width: 200px;
	}
}

@media screen and (max-width: 784px) {
	.fotosGH__wrapp {
		grid-template-columns: repeat(3, minmax(auto, 400px));
	}
	.shareAlbum {
		flex-direction: column-reverse;
	}
	.shareAlbum > img {
		width: 100%;
		min-height: 362px;

		flex: 1 1 100%;
	}
	.shareAlbum__bg {
		width: 100%;
		max-height: 633px;
		background: rgb(30, 98, 0);
		background: linear-gradient(
			0deg,
			rgba(30, 98, 0, 0) 20%,
			rgba(30, 98, 0, 0.95) 42%,
			rgba(30, 98, 0, 0) 100%
		);
	}
	.shareAlbum__content {
		max-width: 100%;
		padding: 70px 62px 70px 62px;
	}
	.shareAlbum__social-network {
		max-width: 100%;
		margin-top: 30px;
	}
}
@media screen and (max-width: 569px) {
	.fotosGH__wrapp {
		grid-template-columns: repeat(2, minmax(auto, 400px));
	}
	.videosGH {
		padding: 160px 30px 90px 30px;
	}
	.videosGH h2 {
		position: absolute;
		top: 55px;
		left: 30px;
	}
	.videoGH__card {
		padding: 25px;
	}
	.videoGH__title {
		font-size: 18px;
	}
	.shareAlbum__content {
		font-size: 28px;
		padding: 70px 20px 70px 20px;
	}
	.shareAlbum__social-network a {
		width: 50px;
		height: 50px;
	}
	.videoGH__card a img:last-child {
		width: 45px;
	}
}
@media screen and (max-width: 380px) {
	.fotosGH__wrapp {
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, 400px);
	}
	.fotosGH img {
		width: 100%;
		height: 100%;
	}
	.horizontal {
		grid-column-start: span 1;
	}
	.videosGH {
		padding: 150px 20px 90px 20px;
	}
	.videoGH__card {
		padding: 15px;
	}
	.videoGH__circle {
		flex-shrink: 0;
	}
	.videoGH__card a img:first-child {
		width: 100%;
		min-height: 200px;
	}
	.videoGH__card a img:last-child {
		width: 40px;
	}
}
/**************************************************
*******************news page***********************
***************************************************/

.news-up {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
}
.news-up h2 {
	font-size: 45px;
	font-weight: bold;
	text-transform: uppercase;
	color: #298d3f;
}
.news-up__next-prev {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.news-up__next-prev button {
	cursor: pointer;
	padding: 11px 117px;
	border-radius: 16.85px;
	background: #2aa144;
	border: none;
	font-size: 16px;
	font-weight: 600;
	color: white;
}
.news-up__next-prev button:nth-child(1) img {
	margin-left: 11.5px;
}
.news-up__next-prev button:nth-child(2) img {
	margin-right: 11.5px;
}
.news-up__info {
	display: flex;
	gap: 20px;
}
.news-up__info-bt {
	border-radius: 200px;
	border: 1px solid #d6d6d6;
	padding: 15px 20px;
	display: flex;
	align-items: center;
}
.news-up__info-bt img {
	margin-right: 10px;
}
.news-up__info-data {
	margin-left: 14px;
	font-size: 16px;
	font-weight: 600;
}
.news-main-part {
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
}
.news-main-part__article {
	padding-top: 30px;
	width: calc(70% - 30px);
}
.news-main-part__aside {
	width: calc(30% - 30px);
}
.news-main-part__article > img {
	width: 100%;
	margin-bottom: 20px;
}
.NMP-article__section {
	padding-top: 20px;
	padding-bottom: 20px;
}
.NMP-article__title2 {
	margin-bottom: 20px;
	color: #298d3f;
	font-size: 40px;
	font-weight: bold;
}
.NMP-article__section p:not(:last-child) {
	margin-bottom: 20px;
}
.NMP-article__title1 p {
	color: #333;
}
.NMP-article__section ol {
	padding-left: 60px;
	list-style-type: none;
	counter-reset: num;
}

.NMP-article__section ol li:not(:last-child) {
	margin-bottom: 15px;
}
.NMP-article__section ol li {
	position: relative;
}
.NMP-article__section ol li:before {
	content: counter(num) ".";
	counter-increment: num;
	display: inline-block;
	position: absolute;
	top: -2px;
	left: -30px;
	color: #2aa144;
	font-size: 20px;
	font-weight: 800;
}
.NMP-article__section article {
	padding-top: 20px;
	padding-bottom: 20px;
}
.NMP-article__title3 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
}
.NMP-article__title4 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 15px;
	color: white;
}
.NMP-article__purple-card {
	width: 100%;
	background: #b772fe;
	border-radius: 25px;
	padding: 30px;
}
.NMP-article__purple-card:not(:last-child) {
	margin-bottom: 10px;
}
.NMP-article__purple-card ul {
	margin-left: 30px;
}
.NMP-article__purple-card li {
	padding-left: 15px;
	color: white;
	font-weight: 600;
	font-size: 16px;
}
.NMP-article__purple-card li {
	list-style-image: url(../img/markerList.svg);
}
.NMP-article__section-warning {
	display: flex;
	width: 100%;
	background: #2aa144;
	border-radius: 22px;
	padding: 18px 22px;
	align-items: center;
	color: white;
	font-weight: 600;
}
.NMP-article__section-warning img {
	margin-right: 30px;
}
.NMP-aside__articles a {
	text-decoration: none;
	display: flex;
	flex-direction: column-reverse;
}
.NMP-aside__article-card {
	min-height: 360px;
	position: relative;
	border-radius: 25px;
	border: 1px solid #a8b5c2;
	font-size: 22px;
	font-weight: bold;
	color: #333;
	padding: 15px 25px 25px 25px;
}
.NMP-aside__article-card:not(:last-child) {
	margin-bottom: 15px;
}
.NMP-aside__article-card img {
	position: absolute;
	top: 0;
	left: 0;
	/* min-height: 100%; */
	width: 100%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
.news-user-exp {
	padding: 30px 0;
}
