* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	object-fit: cover;
}

h2 {
	font-size: 40px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 50px;
}
.gallery__cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.gallery__card {
	width: 730px;
	color: #333;
	border-radius: 25px;
	background: #eef4fa;
	display: flex;
	justify-content: space-between;
}
.gallery__card > img {
	/* max-width: 400px; */
	width: 50%;
	border-radius: 25px;
}
.card__content {
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px 0 40px 40px;
}
.card__info {
	margin-bottom: 92px;
}
.card__title {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 15px;
}
.card__date {
	font-size: 16px;
	font-weight: 600;
}
.card__interactive {
}
.card__share {
	margin-bottom: 20px;
}
.card__share p {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}
.card__social-networks {
	display: flex;
	gap: 10px;
}
.card__social-networks a {
	text-decoration: none;
}
.card__watch-foto {
	padding: 9px 23px;
	border: 2px solid #298d3f;
	border-radius: 200px;
	display: block;
	font-size: 16px;
	width: fit-content;
	text-decoration: none;
	color: #298d3f;
}
.card__watch-foto img {
	margin-left: 10px;
}

@media screen and (max-width: 1580px) {
	.gallery__card {
		width: calc(51% - 30px);
		/* height: 350px; */
	}
	.card__content {
		padding: 30px 10px 30px 30px;
	}
}
@media screen and (max-width: 1490px) {
	.gallery__card > img {
		width: 50%;
	}
	.card__title {
		font-size: 25px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.card__content {
		padding-right: 10px;
	}
	.card__date {
		font-size: 14px;
		font-weight: 600;
	}
	.card__share {
		font-size: 14px;
	}
	.card__watch-foto {
		padding: 9px 9px;

		font-size: 14px;
	}
	.card__watch-foto img {
		margin-left: 10px;
	}
}
@media screen and (max-width: 1167px) {
	.gallery__card {
		/* padding: 20px; */
		/* flex-direction: column; */
		/* height: fit-content; */
		/* width: calc(51.2% - 30px); */
	}
	.card__info {
		margin-bottom: 40px;
	}
	.card__content {
		padding: 30px;
		padding-bottom: 20px;
	}
	.gallery__card > img {
		width: 50%;
		min-height: 320px;
	}
	.card__watch-foto {
		width: 100%;
		text-align: center;
		padding: 9px 9px;
		font-size: 16px;
	}
	.card__watch-foto img {
		display: none;
	}
}
@media screen and (max-width: 947px) {
	.gallery__card {
		padding: 0px;
		flex-direction: row;
		width: 100vw;
	}
	.gallery__card > img {
		max-width: 370px;
		width: 50%;
	}
	.card__content {
		width: fit-content;
		padding: 30px 0 30px 30px;
	}
	.card__watch-foto img {
		display: inline-block;
	}
	.card__watch-foto {
		width: fit-content;
		padding: 9px 23px;
		font-size: 16px;
	}
}
@media (max-width: 600px) {
	.gallery__card {
		justify-content: stretch;
		padding: 20px;
		flex-direction: column-reverse;
	}
	.gallery__card > img {
		max-width: 100%;
		width: 100%;
		max-height: 350px;
		min-height: 300px;
	}
	.card__watch-foto img {
		display: none;
	}
	.card__content {
		padding: 20px 0 0px 0px;
	}
}
