* {
	padding: 0;
	margin: 0;
}
img {
	object-fit: cover;
}

h2 {
	font-size: 40px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 60px;
}
.fotosGH {
	margin-bottom: 88px;
	width: 100%;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(4, minmax(164px, 400px));
	gap: 30px;
}
.horizontal {
	grid-column-start: span 2;
}
.fotosGH a {
	border-radius: 15px;
}
.fotosGH img {
	border-radius: 15px;
	width: 100%;
}
.videosGH {
	position: relative;
	width: 100%;
	background: #eef4fa;
	border-radius: 20px;
	padding: 169px 174px 90px 173px;
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	margin-bottom: 90px;
}
.videosGH h2 {
	position: absolute;
	top: 55px;
	left: 73px;
}
.videoGH__card {
	background: white;
	border-radius: 30px;
	padding: 40px;
}
.videoGH__card a {
	display: flex;
	width: 100%;
	position: relative;
	border-radius: 15px;
}
.videoGH__card a img:first-child {
	border-radius: 15px;
	width: 100%;
}
.videoGH__card a img:last-child {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.videoGH__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 21px;
}
.videoGH__circle {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background: #2aa144;
}
.shareAlbum {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	min-height: 391px;
	background: #488b48;
	border-radius: 20px;
	margin-bottom: 40px;
}
.shareAlbum__bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 55%;
	height: 100%;
	z-index: 1;
	background: rgb(30, 98, 0);
	background: linear-gradient(
		90deg,
		rgba(30, 98, 0, 0) 56%,
		rgba(30, 98, 0, 1) 82%,
		rgba(30, 98, 0, 0) 100%
	);
}
.shareAlbum__content {
	position: relative;
	z-index: 2;
	font-size: 40px;
	color: white;
	max-width: 550px;
	margin-right: 30px;
	padding: 70px 0px 70px 62px;
}

.shareAlbum > img {
	z-index: 0;
	right: 0;
	top: 0;
	position: relative;
	border-radius: 20px;
	width: 55%;
	min-height: 100%;
}
.shareAlbum__social-network {
	margin-top: 125px;
	flex-wrap: wrap;
	display: flex;
	gap: 10px;
}
.shareAlbum__social-network a {
	display: block;
	text-decoration: none;
	width: 60px;
	height: 60px;
}
.shareAlbum__social-network a img {
	width: 100%;
}

@media screen and (max-width: 1000px) {
	h2 {
		font-size: 32px;
	}
	.videosGH {
		padding: 169px 70px 90px 70px;
	}

	.videoGH__title {
		font-size: 20px;
	}
	.shareAlbum__content {
		font-size: 30px;
	}
	.shareAlbum__social-network {
		max-width: 200px;
	}
}

@media screen and (max-width: 784px) {
	.fotosGH {
		grid-template-columns: repeat(3, minmax(164px, 400px));
	}
	.shareAlbum {
		flex-direction: column-reverse;
	}
	.shareAlbum > img {
		width: 100%;
		min-height: 362px;

		flex: 1 1 100%;
	}
	.shareAlbum__bg {
		width: 100%;
		max-height: 633px;
		background: rgb(30, 98, 0);
		background: linear-gradient(
			0deg,
			rgba(30, 98, 0, 0) 20%,
			rgba(30, 98, 0, 0.95) 42%,
			rgba(30, 98, 0, 0) 100%
		);
	}
	.shareAlbum__content {
		max-width: 100%;
		padding: 70px 62px 70px 62px;
	}
	.shareAlbum__social-network {
		max-width: 100%;
		margin-top: 30px;
	}
}
@media screen and (max-width: 569px) {
	.fotosGH {
		grid-template-columns: repeat(2, minmax(164px, 400px));
	}
	.videosGH {
		padding: 160px 30px 90px 30px;
	}
	.videosGH h2 {
		position: absolute;
		top: 55px;
		left: 30px;
	}
	.videoGH__card {
		padding: 25px;
	}
	.videoGH__title {
		font-size: 18px;
	}
	.shareAlbum__content {
		font-size: 28px;
		padding: 70px 20px 70px 20px;
	}
	.shareAlbum__social-network a {
		width: 50px;
		height: 50px;
	}
	.videoGH__card a img:last-child {
		width: 45px;
	}
}
@media screen and (max-width: 380px) {
	.fotosGH {
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, 400px);
	}
	.fotosGH img {
		width: 100%;
		height: 100%;
	}
	.horizontal {
		grid-column-start: span 1;
	}
	.videosGH {
		padding: 150px 20px 90px 20px;
	}
	.videoGH__card {
		padding: 15px;
	}
	.videoGH__circle {
		flex-shrink: 0;
	}
	.videoGH__card a img:first-child {
		width: 100%;
		min-height: 200px;
	}
	.videoGH__card a img:last-child {
		width: 40px;
	}
}
